{% load static %}

<header>
    <div class="navbar">
        <img src="{% static 'images/logo/circlelogo.png' %}" alt="Аквапарк" class="logo">
        <nav>
            <ul>
                <li><a href="/home/" class="home"><i class="fas fa-home"></i><span>Главная</span></a></li>
                <li><a href="/attractions/" class="attractions"><i class="fas fa-water"></i><span>Аттракционы</span></a></li>
                <li><a href="/tariffs/" class="tariffs"><i class="fas fa-tag"></i><span>Тарифы</span></a></li>
                <li><a href="/account/" class="account"><i class="fas fa-user"></i><span>Кабинет</span></a></li>
                <li><a href="/tickets/" class="tickets"><i class="fas fa-ticket-alt"></i><span>Билеты</span></a></li>
            </ul>
        </nav>
    </div>
</header>