<!DOCTYPE html>
<html lang="ru">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Онлайн касса</title>

    <link rel="stylesheet" href="{% static 'css/tickets.css' %}" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <script src="{% static 'js/tickets.js' %}"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
  </head>
  <body>
    <section class="hero-section">
      <div class="hero-overlay">
        <div class="logo-and-title">
          <img src="{% static 'images/logo/circlelogo.png' %}" alt="Логотип" class="logo" />
          <h1 class="coral">Коралл</h1>
        </div>
        <h2 class="title">Онлайн касса</h2>
      </div>
    </section>

    <section class="ticket-sale card">
      <div class="ticket-service">
        <label for="service">Услуга</label>

        <select id="service" name="service" class="custom-select">
          {% for service in services %}
            <option value="{{ service.id }}" data-price="{{ service.price }}">{{ service.name }}</option>
          {% endfor %}
        </select>
      </div>

      <!-- День -->
      <div class="ticket-date">
        <label for="date">День</label>
        <div class="date-picker">
          <input type="date" id="date" name="date" />
        </div>
      </div>

      <!-- Посетители -->
      <div class="ticket-visitors">
        <h3>Посетители</h3>

        <div class="visitor-type">
          <label>Взрослые (от 150 см)</label>
          <div class="price-and-quantity">
            <span class="price">3800 руб.</span>
            <div class="visitor-quantity">
              <button class="minus">-</button>
              <span class="quantity">0</span>
              <button class="plus">+</button>
            </div>
          </div>
        </div>

        <div class="visitor-type">
          <label>Дети (110-150 см)</label>
          <div class="price-and-quantity">
            <span class="price">1500 руб.</span>
            <div class="visitor-quantity">
              <button class="minus">-</button>
              <span class="quantity">0</span>
              <button class="plus">+</button>
            </div>
          </div>
        </div>

        <div class="visitor-type">
          <label>Малыши (до 110 см)</label>
          <div class="price-and-quantity">
            <span class="price">500 руб.</span>
            <div class="visitor-quantity">
              <button class="minus">-</button>
              <span class="quantity">0</span>
              <button class="plus">+</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Итоговая цена -->
      <div class="total-price">
        <hr />
        <div class="total-line">
          <h3>ИТОГО:</h3>
          <p id="totalPrice">0 РУБ.</p>
        </div>
        <button id="buyButton" class="buy-button" type="button">Купить</button>
      </div>
    </section>
    
   <!-- Модальное окно -->
<div id="paymentModal" class="modal">
  <div class="modal-content">
    <!-- Кнопка закрытия -->
    <span id="closeModal" class="close-button">&times;</span>
    
    <!-- Форма для ввода данных карты -->
    <form id="paymentForm">
      {% csrf_token %}
      <input type="hidden" id="visitDate" name="visitDate" />
      <input type="hidden" id="totalAmount" name="totalAmount" />
      <input type="hidden" id="adultQuantity" name="adultQuantity" />
      <input type="hidden" id="childQuantity" name="childQuantity" />
      <input type="hidden" id="babyQuantity" name="babyQuantity" />
      <input type="hidden" id="serviceId" name="serviceId" />
      
      <div class="input-group">
        <label for="cardNumber">Номер карты</label>
        <input type="text" id="cardNumber" name="cardNumber" maxlength="16" required />
      </div>
      <div class="input-group">
        <label for="expiryDate">Дата окончания</label>
        <input type="text" id="expiryDate" name="expiryDate" maxlength="5" required placeholder="MM/YY" />
      </div>
      <div class="input-group">
        <label for="cvv">CVV</label>
        <input type="text" id="cvv" name="cvv" maxlength="3" required />
      </div>
      <div class="input-group">
        <label for="cardholderName">Имя владельца</label>
        <input type="text" id="cardholderName" name="cardholderName" required />
      </div>
      <button type="submit" class="btn">Подтвердить оплату</button>
    </form>
  </div>
</div>

    {% include 'footer.html' %}
  </body>
</html>
